@model Praesidium.Data_Models.Admin.ShUserType

@{
    ViewBag.Title = "UserTypesDetails";
}

<h2>UserTypesDetails</h2>

<div>
    <h4>ShUserType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UserTypesEdit", new { id = Model.RecId }) |
    @Html.ActionLink("Back to List", "UserTypes")
</p>
