@model Praesidium.Data_Models.Admin.FileView
@{
    ViewBag.Title = "View";
    var srcURL = @"https://docs.google.com/gview?url=http://praesidium-beta.azurewebsites.net/Download/File/ " + Model.RecId + "?pid=explorer&efh=false&a=v&chrome=false&embedded=true";
}
<div class="row text-center"><h2>Viewing file @Model.Title</h2></div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right"><strong>Title:</strong></div><div class="col-md-8 col-sm-8 col-xs-8">@Model.Title</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right"><strong>File Name:</strong></div><div class="col-md-8 col-sm-8 col-xs-8">@Model.FileName</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right"><strong>Description:</strong></div><div class="col-md-8 col-sm-8 col-xs-8">@HttpUtility.HtmlDecode(Model.Description)</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right"><strong>Date Added:</strong></div><div class="col-md-8 col-sm-8 col-xs-8">@(Model.DateUploaded.Value.ToString("d"))</div>
    </div>
    <div class="row">
        <div class="col col-md-6 text-center">
            @Html.ActionLink("Download this file", "File", "Download", new { id = Model.RecId }, new {@class="btn btn-info"})
        </div>
        <div class="col col-md-6 text-center">
            <a href="https://docs.google.com/gview?url=@Url.Action("File", "Download", new {id = Model.RecId}, Request.Url.Scheme)" class="btn btn-info" target="_new">View full screen</a>
        </div>
    </div>
    <div class="row text-center">
        @*<div class="fb-share-button" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri&amp;src=sdkpreparse">Share</a></div>*@
        <ul class="share-buttons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpraesidium-beta.azurewebsites.net%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="/Content/Images/Facebook.svg"></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fpraesidium-beta.azurewebsites.net%2F&text=:%20http%3A%2F%2Fpraesidium-beta.azurewebsites.net%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="/Content/Images/Twitter.svg"></a></li>
            <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fpraesidium-beta.azurewebsites.net%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="/Content/Images/Google.svg"></a></li>
        </ul>
    </div>
</div>
<div class="col-md-6">
    <iframe src="@srcURL" style="width: 100%; height: 580px;"></iframe>
</div>

